body {
  background-color: #edeff0;

}

a:hover {
  color: black;
}

a {
  color: black;
}


.box {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}

.codeBox {
  background-color: black;
  color: #78f503;
  border-radius: 5px;
  border: 3px solid gray;
}

.rendered {
  border-left: 5px solid #ddd;
  margin-left: 18px;
}

.greenBox {
  background-color: #8ABB55;
}

.line {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  height: 1px;
  margin: 10px 0;
  width: 100%;
}

.css, .divsAndSpans, .arithmetic, .gridSystem, .functions, .dom, .arraysBox, .loopingBox {
  display: none;
}
.btn-outline-inverse {
  border: 2px solid black;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

.floatExample {
  border: solid red;  max-width: 70ex;
}

.floatExample h4 {
  float: left;  margin: 0;
}

.boxExample p {
  height: auto;
  padding: 10px 20px 10px 20px;
  border: 5px solid black;
  margin: 20px 0 20px 0;
}

.cascadeExample p {
  color:blue; text-decoration:underline
}

.cascadeExample strong {
  color: red;
}

#mainMenu:hover {
  cursor: pointer;
  text-decoration: underline;

}
